*.class
# JetBrains
.idea/
*.iml
*.ipr
*.iws

.build
out
build
.gradle

*.txt

# Package Files #
*.jar
*.war
*.ear

# Mail properties - username, password etc.
mail.properties

# Test database
db/test*
