Dear $username,

We have just received a password change request for your account.
In order to change your password please goto $passwordResetUrl and follow the instructions.
Remember that this URL is valid for 1 day

If you didn't mean to change your password, just ignore this message.

Best regards
Webs
