<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shards/head :: head">
</head>
<body>
<div th:replace="shards/navigation :: navigation"></div>
<div class="jumbotron">
    <div class="container">
        <div>
            <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]] accounts!</h1>
            <div>
                <a class="btn btn-primary" th:href="@{/newAccount/}">New account</a>
            </div>
            <table class="table table-striped" id="accountTable">
                <thead>
                <tr>
                    <th></th>
                    <th>Account number</th>
                    <th>Currency</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="account : ${accounts}">
                    <tr>
                        <td><a class="glyphicon glyphicon-chevron-down accordion-toggle" data-parent="#accountTable" data-toggle="collapse" th:href="'#detailsRow'+${accountStat.index}" title="Show details"/></td>
                        <td><a th:href="@{/accounts/} + ${account.id} + '/'" th:text="${account.number}"></a></td>
                        <td th:text="${account.currency}"></td>
                    </tr>

                    <tr th:id="'detailsRow'+${accountStat.index}" class="panel-collapse collapse">
                        <td colspan="3">
                            <div class="panel panel-default">
                                <div class="panel-heading"><a th:href="@{/accountsTransfer/} + ${account.id} + '/'">Transfer money</a></div>
                                <div class="panel-body">
                                    <p th:text="'Balance: ' + ${account.balance} + ${account.currency}"></p>
                                </div>
                                <div class="panel-body" th:if="${account instanceof T(com.piotrglazar.webs.dto.SavingsAccountDto)}">
                                    <p th:text="'Interest: ' + ${account.interest} + '%'"></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
