<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shards/head :: head">
</head>
<body>
<div th:replace="shards/navigation :: navigation"></div>
<div class="jumbotron">
    <div class="container">
        <form role="form" th:action="@{/accountsTransfer} + '/' + ${transferForm.accountId} + '/'" method="post" th:object="${transferForm}">
            <fieldset>
                <div class="form-group" th:class="${#fields.hasErrors('accountNumber')}? 'has-error form-group' : form-group">
                    <input type="hidden" th:field="*{accountId}"/>
                    <label class="control-label" th:if="${#fields.hasErrors('accountNumber')}" id="accountNumberError" th:errors="*{accountNumber}">accountNumber errors</label>
                    <input type="text" id="accountNumber" name="accountNumber" th:field="*{accountNumber}" class="form-control" placeholder="Account number" th:errorclass="input-error"/>
                </div>
                <div class="form-group">
                    <span th:class="${#fields.hasErrors('integralPart')}? has-error">
                        <label class="control-label" id="integralPartError" th:if="${#fields.hasErrors('integralPart')}" th:errors="*{integralPart}">integralPart errors</label>
                        <input type="number" id="integralPart" name="integralPart" th:field="*{integralPart}" placeholder="0" th:errorclass="input-error"/>
                    </span>
                    <span>.</span>
                    <span th:class="${#fields.hasErrors('fractionalPart')}? has-error">
                        <label class="control-label" id="fractionalPartError" th:if="${#fields.hasErrors('fractionalPart')}" th:errors="*{fractionalPart}">fractionalPart errors</label>
                        <input type="number" id="fractionalPart" name="fractionalPart" th:field="*{fractionalPart}" placeholder="0" th:errorclass="input-error"/>
                    </span>
                </div>
                <button class="btn btn-success" type="submit">Send money</button>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
