<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shards/head :: head">
</head>
<body>
<div th:replace="shards/navigation :: navigation"></div>
<div class="jumbotron">
    <div class="container">
        <div>
            <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]] accounts!</h1>
            <div>
                <a class="btn btn-primary" th:href="@{/newAccount}">New account</a>
                <a class="btn btn-primary" th:href="@{/accountTransferHistory/0/}">Transfer history</a>
            </div>
            <table th:if="${!#lists.isEmpty(accounts)}" class="table table-striped" id="accountTable">
                <thead>
                <tr class="row">
                    <th></th>
                    <th>Account number</th>
                    <th>Currency</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="account : ${accounts}">
                    <tr class="row">
                        <td class="col-md-4"><a class="glyphicon glyphicon-chevron-down accordion-toggle" data-parent="#accountTable" data-toggle="collapse" th:href="'#detailsRow'+${accountStat.index}" title="Show details"/></td>
                        <td class="col-md-4"><a th:href="@{/accounts/} + ${account.id} + '/'" th:text="${account.number}"></a></td>
                        <td class="col-md-4" th:text="${account.currency}"></td>
                    </tr>

                    <tr th:id="'detailsRow'+${accountStat.index}" class="panel-collapse collapse row">
                        <td class="col-md-4"><a th:href="@{/accountsTransfer/} + ${account.id} + '/'">Transfer money</a></td> <!--panel-heading-->
                        <td class="col-md-4"> <!--panel-body-->
                            <p th:text="'Balance: ' + ${account.balance} + ${account.currency}"></p>
                        </td>
                        <td class="col-md-4"> <!--panel-body-->
                            <p th:if="${account instanceof T(com.piotrglazar.webs.dto.SavingsAccountDto)}" th:text="'Interest: ' + ${account.interest} + '%'"></p>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div th:if="${#lists.isEmpty(accounts)}">You have currently no accounts</div>
        </div>
    </div>
</div>
</body>
</html>
