<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shards/head :: head">
</head>
<body>
<div th:replace="shards/navigation :: navigation"></div>
<div class="jumbotron">
    <div class="container">
        <div>
            <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]] accounts!</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Account number</th>
                    <th>Balance</th>
                    <th>Currency</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${accounts}">
                    <td><a th:href="@{/accounts/} + ${account.id} + '/'" th:text="${account.number}"></a></td>
                    <td th:text="${account.balance}"></td>
                    <td th:text="${account.currency}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
