<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shards/head :: head">
</head>
<body>
<div th:replace="shards/navigation :: navigation"></div>
<div class="jumbotron">
    <div class="container">
        <div>
            <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]] Admin panel!</h1>
            <div class="col-md-10" th:if="${uiMessage}">
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="btn-close" data-dismiss="alert" aria-hidden="true">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <span th:text="${uiMessage}"></span>
                </div>
            </div>
            <table class="table table-striped" id="moneyTransferAuditTable">
                <thead>
                <tr>
                    <th class="text-center">Sending User Id</th>
                    <th class="text-center">Sending Account Id</th>
                    <th class="text-center">Receiving Account Id</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Success</th>
                    <th class="text-center">Date</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="moneyTransferAudit : ${moneyTransferAudits}">
                    <tr>
                        <td th:text="${moneyTransferAudit.sendingUserId}" class="text-center">Sending User Id</td>
                        <td th:text="${moneyTransferAudit.sendingAccountId}" class="text-center">Sending Account Id</td>
                        <td th:text="${moneyTransferAudit.receivingAccountId}" class="text-center">Receiving Account Id</td>
                        <td th:text="${moneyTransferAudit.amount}" class="text-center">Amount</td>
                        <td th:text="${moneyTransferAudit.success}" class="text-center">Success</td>
                        <td th:text="${moneyTransferAudit.date}" class="text-center">Date</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div>
            <table class="table-striped" id="newsImporterTable">
                <thead>
                <tr>
                    <th class="text-center">News importer</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="newsImporterName : ${newsImporters}">
                    <td class="text-center"><a th:text="${newsImporterName}" th:href="@{/admin/importNews/} + ${newsImporterNameStat.index} + '/'">News importer class</a></td>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
