<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shards/head :: head">
</head>
<body>
<div th:replace="shards/navigation :: navigation"></div>
<div class="jumbotron">
    <div class="container">
        <div>
            <h1 th:inline="text">Active loans!</h1>
            <table th:if="${!#lists.isEmpty(loans)}" class="table table-striped" id="loanTable">
                <thead>
                <tr class="row text-center">
                    <th class="text-center">Amount loaned</th>
                    <th class="text-center">Amount remaining</th>
                    <th class="text-center">Currency</th>
                    <th class="text-center">Postpones</th>
                    <th class="text-center">Account number</th>
                    <th class="text-center">Weeks</th>
                    <th class="text-center">Weeks remaining</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="loan : ${loans}">
                    <tr class="row text-center">
                        <td class="col-md-2"><span th:text="${loan.amountLoaned}"></span></td>
                        <td class="col-md-2"><span th:text="${loan.amountRemaining}"></span></td>
                        <td class="col-md-1"><span th:text="${loan.currency}"></span></td>
                        <td class="col-md-1"><span th:text="${loan.getPostpones().size()}" th:class="${loan.getPostpones().size() == T(com.piotrglazar.webs.business.loans.DefaultLoanBusinessLogic).MAX_POSTPONES} ? '' : 'alert-warning'"></span></td>
                        <td class="col-md-2"><span th:text="${loan.accountNumber}"></span></td>
                        <td class="col-md-1"><span th:text="${loan.weeks}"></span></td>
                        <td class="col-md-1"><span th:text="${loan.weeksRemaining}"></span></td>
                        <td class="col-md-2">
                            <form role="form" th:action="@{/postponeLoan} + '/' + ${loan.loanId} + '/'" method="post">
                                <button th:if="${loan.canPostpone}" class="btn btn-warning btn-xs" type="submit">Postpone</button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div th:if="${#lists.isEmpty(loans)}">You have currently no active loans.</div>
        </div>
    </div>
</div>
</body>
</html>
