<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shards/head :: head">
</head>
<body>
<div class="jumbotron">
    <div class="container" style="background: url('../static/img/stock.jpg');background-size: cover;color:white;"
         th:style="'background: url(' + @{/img/stock.jpg} + ');background-size: cover;color:white;'">
        <h1>Welcome to webs!</h1>
        <div><p><strong>Please use the form to enter new password!</strong></p></div>
        <div>
            <form class="form-signin" role="form" th:action="@{/resetPassword/} + ${tokenId} + '/'" method="post" th:object="${newPasswordForm}">
                <fieldset>
                    <div th:class="${#fields.hasErrors('newPassword')}? 'has-error form-group has-feedback' : form-group">
                        <label class="control-label" th:if="${#fields.hasErrors('newPassword')}" id="newPasswordError" th:errors="*{newPassword}">newPassword errors</label>
                        <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}" class="form-control" placeholder="Password" th:errorclass="input-error"/>
                        <span th:if="${#fields.hasErrors('newPassword')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                    <div th:class="${#fields.hasErrors('repeatedNewPassword')}? 'has-error form-group has-feedback' : form-group">
                        <label class="control-label" th:if="${#fields.hasErrors('repeatedNewPassword')}" id="repeatedNewPasswordError" th:errors="*{repeatedNewPassword}">repeatedNewPassword errors</label>
                        <input type="password" id="repeatedNewPassword" name="repeatedNewPassword" th:field="*{repeatedNewPassword}" class="form-control" placeholder="Repeated password" th:errorclass="input-error"/>
                        <span th:if="${#fields.hasErrors('repeatedNewPassword')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Reset password</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
