<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shards/head :: head">
</head>
<body>
<div class="jumbotron">
    <div class="container" style="background: url('../static/img/stock.jpg');background-size: cover;color:white;"
         th:style="'background: url(' + @{/img/stock.jpg} + ');background-size: cover;color:white;'">
        <h1>Welcome to webs!</h1>
        <div><p><strong>Please use the form to reset password!</strong></p></div>
        <div>
            <form class="form-signin" role="form" th:action="@{/resetPassword}" method="post" th:object="${passwordResetForm}">
                <fieldset>
                    <div th:class="${#fields.hasErrors('email')}? 'has-error form-group has-feedback' : form-group">
                        <label class="control-label" th:if="${#fields.hasErrors('email')}" id="emailError" th:errors="*{email}">Email errors</label>
                        <input type="text" id="email" name="email" th:field="*{email}" class="form-control" placeholder="Email" th:errorclass="input-error"/>
                        <span th:if="${#fields.hasErrors('email')}" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Reset password</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
